<nav class="navbar bg-body-tertiary mb-5">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand" href="">Logo</a>
    <div *ngIf="loggedUserData?.role == 'Event Planner'">
      <a class="text-black" routerLink="new-event">Create Event</a>
    </div>
    <div>
      <a class="text-black" routerLink="event-list">Event List</a>
    </div>
    <div *ngIf="!isUserLoggedin">
      <button
        class="btn btn-outline-primary me-2"
        type="button"
        (click)="openLogin()"
      >
        Login
      </button>
      <button
        class="btn btn-outline-success me-2"
        type="button"
        (click)="isLoginView = true"
      >
        Register
      </button>
    </div>
    <div *ngIf="isUserLoggedin">
      Hi, {{ loggedUserData.contactNo }}
      <button
        class="btn btn-outline-success me-2"
        type="button"
        (click)="onLogOff()"
      >
        LogOff
      </button>
    </div>
  </div>
</nav>

<div class="modal" tabindex="-1" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <!--input name field is not manadatory if u r not using form tag -->
        <ng-container *ngIf="isLoginView">
          <h5 class="modal-title">Login</h5>
          <div class="mb-3">
            <label class="form-label">Contact no</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="loginObj.ContactNo"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">password</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="loginObj.Password"
            />
          </div>
          <button
            type="submit"
            class="w-100 btn btn-primary"
            (click)="onLogin()"
          >
            Login
          </button>
          <div class="my-3">
            don't have an account ?
            <a href="#" (click)="isLoginView = false"> sign up here</a>
          </div>
        </ng-container>
        <!--input name field is not manadatory if u r not using form tag -->
        <ng-container *ngIf="!isLoginView">
          <h5 class="modal-title">Registration</h5>
          <div class="mb-3">
            <label class="form-label">name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="registerObj.Name"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">email</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="registerObj.Email"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">password</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="registerObj.Password"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">contact no</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="registerObj.ContactNo"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Who are you</label>
            <select class="form-select" [(ngModel)]="registerObj.Role">
              <option>select your role</option>
              <option value="Event Planner">Event Planner</option>
              <option value="Customer">Customer</option>
            </select>
          </div>
          <button
            type="button"
            class="w-100 btn btn-primary"
            (click)="onRegister()"
          >
            Register
          </button>
          <div class="my-3">
            Login if already registered?
            <a href="#" (click)="isLoginView = true"> login</a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
