<section class="text-center my-5">
  <h4>Upcoming Events</h4>
  <h6>browse various ongoing events</h6>
</section>

<section class="bg-light">
  <ul class="upcoming-event">
    <li>
      <h6>Day 1</h6>
      <p class="m-0">NOv 04, 2023</p>
    </li>
    <li>
      <h6>Day 1</h6>
      <p class="m-0">NOv 04, 2023</p>
    </li>
    <li>
      <h6>Day 1</h6>
      <p class="m-0">NOv 04, 2023</p>
    </li>
    <li>
      <h6>Day 1</h6>
      <p class="m-0">NOv 04, 2023</p>
    </li>
    <li>
      <h6>Day 1</h6>
      <p class="m-0">NOv 04, 2023</p>
    </li>
  </ul>
</section>

<section class="my-5 bg-light">
  <div class="container-fluid">
    <div class="w-100 p-3 d-flex align-items-center justify-content-between">
      <div>image</div>
      <div>Title of event</div>
      <div>venue</div>
      <div>
        <button type="button" class="btn btn-primary me-2">Book Now</button>
      </div>
    </div>
  </div>
</section>
