<div class="row">
  <h4>Event List</h4>
</div>
<div class="row">
  <div class="col-12 mb-3" *ngFor="let event of eventList">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">{{ event.eventName }}</h4>
            <p class="card-text">
              {{ event.startDate }} - {{ event.location }} - {{ event.price }}
            </p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
          <div class="col-4">
            <img
              class="card-img-top"
              [src]="event.imageUrl"
              alt="Card image"
              max-height="100px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
